<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syning.boot.boot05web03.mapper.BookMapper">

<!--   public List<Book> getAllBook();           -->
    <select id="getAllBook" resultType="com.syning.boot.boot05web03.entity.Book">
        select * from book
    </select>






</mapper>